/*This is for the Project FOX Prototype*/

/*******************************************************************************
* CSS Table of Contents
* 1. Imports
* 2. General & Mobile Style Control
* 3. Tablet/Laptop Style Control
*******************************************************************************/

/*******************************************************************************
* 1. Imports
*******************************************************************************/

/*Download Sansita font from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Sansita');

/*******************************************************************************
* 2. General Style/ Mobile Style - This styling applies to everything.
* This is where nearly all of the formatting goes to make things look the way
* we want. Color control, text size control, box shape, column flow, etc.
*******************************************************************************/

/* Use helvetica,
   if not available, use arial,
   if not available, use default sans serif font */
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    margin: 0;
    /* remove any margin or padding from body */
    padding: 0;
    background-color: white;
}

/*This gives the black background, and a margin to replicate a tablet*/
#wrapper {
    height: 6in;
    display: flex;
    flex-flow: column;
    background-color: black;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

/* This is the gray menu bar across the screen with
   a little extra gray on top and bottom of text area.*/
#navigation {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1vw;
    padding-top: 1vw;

}

#navigation ul li {
    padding-right: 2vw;
    padding-left: 2vw;
    color: black;
    display: flex;
    font-size: 3vw;
}

#navigation ul {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    padding-inline-start: 0px;
}

#navigation li:hover {
    background-color: white;
    color: crimson;
}

/* Table is where all the tracks are listed */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table Row gets a line to divide it from other rows */
tr {
    border-bottom: 2px solid;
    border-bottom-color: blue;
    color: white;
    /* white text default, javascript for color changes*/
}

#scrollbar {
    overflow-y: scroll;
    display: flex;
}

button {
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: black;
    display: inline-block;
}

button:hover {
    border-color: blue;
}

.icon, .delete-icon:hover {
    width: 50px;
    height: 54px;
    background-size: 40px 45px;
    background-position: center;
    background-repeat: no-repeat;
}

.delete-icon {
    background-image: url('../images/gray_trash_can.png');
}

.pin-icon {
    background-image: url('../images/white_push_pin.png')
}

.pinned {
    background-image: url('../images/yellow_push_pin.png')
}

#ADD_ROW {
    border: solid;
    border-color: black;
    color: white;
    style: bold;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 5px;
    cursor: pointer;
    background-color: darkgreen;
}

#DEBUG_DIV {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 10px;
}

/*******************************************************************************
* 3. Large Screen Styles - CSS specific to look great on a laptop/ large tablet
*******************************************************************************/

/*this is css pixels, not device pixels */
@media screen and (min-width: 760px) {
    #navigation ul li {
        padding-right: 2vw;
        color: black;
        display: flex;
        font-size: 1.5em;
    }
}
